@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
--font-*: initial;
    --font-sans: Inter, sans-serif;
    --font-serif: Inter, serif;

    --color-highlight: #101418;

    /* Texts */
    --text-display-large: 72px;
    --text-display-large--line-height: 120%;
    --text-display-large--font-weight: bold;

    --text-display-medium: 48px;
    --text-display-medium--line-height: 120%;
    --text-display-medium--font-weight: bold;

    --text-headline-large: 40px;
    --text-headline-large--line-height: 120%;
    --text-headline-large--font-weight: bold;

    --text-headline-medium: 32px;
    --text-headline-medium--line-height: 120%;
    --text-headline-medium--font-weight: bold;

    --text-body-large: 24px;
    --text-body-large--line-height: 140%;
    --text-body-large--font-weight: bold;

    --text-body-medium: 20px;
    --text-body-medium--line-height: 160%;
    --text-body-medium--font-weight: regular;

    --text-body-small: 16px;
    --text-body-small--line-height: 160%;
    --text-body-small--font-weight: regular;

    --text-label-large: 20px;
    --text-label-large--line-height: 120%;
    --text-label-large--font-weight: bold;

    --text-label-medium: 14px;
    --text-label-medium--line-height: 120%;
    --text-label-medium--font-weight: regular;

    --text-label-small: 12px;
    --text-label-small--line-height: 120%;
    --text-label-small--font-weight: regular;
}

[x-cloak] {
    display: none !important;
}